<main>
  <div>
    <h2>Welcome, {{firstName}} {{lastName}}</h2>
  </div>
  <div>
    <br>
    <table>
        <tr>
            <td>Username:</td>
            <td>{{username}}</td>
        </tr>
        <tr>
            <td>Profession:</td>
            <td>{{profession}}</td>
        </tr>
        <tr>
            <td>Bio:</td>
            <td>{{bio}}</td>
        </tr>
    </table>
    <br>
  </div>
</main>